body {
  font-family: Arial;
  margin: 0;
  text-align: center;
  background-color: #f4f4f4;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
}

section {
  padding: 20px;
}

.card {
  background: white;
  margin: 10px;
  padding: 20px;
  display: inline-block;
  width: 150px;
  box-shadow: 0 0 10px gray;
}

button {
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}
btn {
  background-color: #007bff; /* Midabka buluugga ah */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0056b3; /* Midabka marka mouse-ka la dul dhigo */
}
